p, h2, h3, span {
  font-family: 'Source Sans Pro', sans-serif;
  color: rgb(80,80,80);
}

h2 {
  font-size: 48px;
  font-weight: bold;
}

h3 {
  font-size: 32px;
  font-weight: bold;
}

p {
  font-size: 16px;
}

span {
  font-size: 16px;
}

.banner {
  display: flex;
  height: 64px;
  align-items: center;
}

.banner .logo {
  display: flex;
  align-items: center;
}

.logo span {
  padding-bottom: 4px;
  font-size: 32px;
}

#logo_colmar { }

#logo_academy {
  color: lightgrey;
}

.banner nav {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  margin-right: 8px;
}

.banner nav span {
  margin: 0px 16px;
  font-size: 24px;
}

#mobile_nav {
  display: none;
}

.learn {
  background-color: rgb(200,200,200);
  display: flex;
  width: 100%
}

.learn img {
  width: 60%;
  height: 100%;
  padding: 32px 24px;
}

.learn .right_container {
  display: flex;
  align-items: center;
  padding: 24px;
}

.learn .text_right h2 {
  align-items: center;
  width: 80%;
}

/*.learn .text_right .button {*/

#start_button p {
  background-color: grey;
  color: black;
  width: 50%;
  padding: 8px 30px;
  text-align: center;
}


#start_button p:hover {
  background-color: lightgreen;
  color: black;
  font-weight: 600;
}

/* Practicing */

.practicing {
  display: flex;
  background-color: white;
  width: 100%;
  height: 100%;
}

.practicing .left_panel {
  width: 60%;
  height: 100%;
}

.practicing .left_panel img {
  width: 100%;
  height: 100%;
  padding: 32px 24px;
}

.left_panel h2, .left_panel p {
  padding: 0px 32px;
}

/*.practicing .right_panel {*/
.right_panel {
  width: 40%;
  padding: 16px 32px;
}

.read img {
  width: 35%;
  height: 100%;
  padding: 16px 16px;
}


#read_orientation:hover, #read_campus:hover, #read_lecture:hover {
  background-color: lightgrey;
}

/*.practicing .text_panel {*/
.text_panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text_panel h3, .text_panel p, .text_panel span {
  margin: 4px 0px;
}

.text_panel span {
  color: hsl(200,50%,50%);
}

.read {
  display:flex;
}

/* Learning */

.learning {
  background-color: lightgrey;
}

.learning h2 {
  padding: 32px 0px;
  text-align: center;
}

.learning_all {
  display: flex;
  flex-flow: row;
  width: 90%;
  flex-wrap: wrap;
}

.learning .learn_container {
  margin: 0px 8px 32px 8px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.learning .learn_container img {
  max-width:100%;
  max-height:100%;
}

.learn_container h3, .learn_container p {
  margin-left: 16px;
}

/* Thesis */


.thesis h2 {
  text-align: center;
}

.thesis_video_panel {
  display: flex;
}

.thesis video {
  width: 60%;
  height: 100%;
  margin: 0px 24px;
  padding:16px 0px;
}

#thesis_fisma:hover, #thesis_now:hover{
  background-color: lightgrey;
}

.thesis_text {
  margin: 0px 24px;
  width: 60%;
}

.thesis_text h3 {
  margin-bottom: 0.5em;
}

footer {
  margin-top: 16px;
  margin-left: 24px;
}

.last_line {
  display: flex;
  justify-content: space-between;
}

.nav_footer {
  margin: 8px 8px;
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.nav_footer span {
  margin: 8px 8px;
}
/* Mobile */

@media only screen and (min-width: 320px) and (max-width: 720px) {

  .logo img, .logo #logo_colmar, .logo #logo_academy {
    display: none;
  }

  #the_nav {
    display: none;
  }

  #mobile_nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .learn {
    background-color: yellow;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .learn img {
    width: 95%;
    padding: 32px 16px;
    margin: 0px 8px;
  }


  /*.learn .text_right .button {*/
  #start_button p{
    padding: 8px 30px;
    background-color: rgb(80,80,80);
    color: white;
    text-align: center;
    width: 90%;
  }

  .practicing .left_panel {
    display: none;
  }

/*  .practicing .right_panel {*/
  .practicing .right_panel {
    width: 100%;
    padding: 16px 16px;
  }

  .read {
    display:flex;
    flex-flow: column;
  }

  .read img {
    width: 100%;
    height: 100%;
  }

  .text_panel h3, .text_panel p, .text_panel span {
    margin: 16px 32px;
  }

  .learning_all {
    display: flex;
    flex-direction: column;
  }

  .learning {
    background-color: white;
  }

  .learning .learn_container {
    background-color: lightgrey;
  }

  .learn_container img, .learn_container h2, .learn_container p {
    display: none;
  }

  .thesis video {
    width: 100%;
  }

  .right_panel {
    display: none;
  }

  .thesis_text {
    display: none;
  }

}
